@import '$lib/styles/reset.css';
@import '$lib/styles/fonts.css';

:root {
	/* Colors */
	--neutral-0: 255 255 255;
	--neutral-200: 212 211 217;
	--neutral-300: 172 172 183;
	--neutral-600: 60 59 94;
	--neutral-700: 48 47 74;
	--neutral-800: 38 37 64;
	--neutral-900: 2 1 44;
	--orange: 255 130 10;
	--blue-500: 70 88 217;
	--blue-700: 43 27 156;

	/* Fonts */
	--fs-1: 6rem;
	--fs-2: 3.25rem;
	--fs-3: 2rem;
	--fs-4: 1.75rem;
	--fs-5: 1.25rem;
	--fs-6: 1.125rem;
	--fs-7: 1rem;
	--fs-8: 0.875rem;
}

html {
	font-size: 16px;
}

body {
	background-color: rgb(var(--neutral-900));
	color: rgb(var(--neutral-0));
	font-family: 'DM Sans', sans-serif;
	line-height: 1.2;
}
