@import '$lib/styles/reset.css';
@import '$lib/styles/fonts.css';

:root {
	/* Colors */
	--neutral-0: 255 255 255;
	--neutral-200: 212 211 217;
	--neutral-300: 172 172 183;
	--neutral-600: 60 59 94;
	--neutral-700: 48 47 74;
	--neutral-800: 38 37 64;
	--neutral-900: 2 1 44;
	--orange: 255 130 10;
	--blue-500: 70 88 217;
	--blue-700: 43 27 156;

	/* Fonts */
	--fs-1: clamp(5.25rem, 4.9859rem + 1.1268vw, 6rem);
	--fs-2: clamp(2.8125rem, 2.6585rem + 0.6573vw, 3.25rem);
	--fs-3: clamp(1.8125rem, 1.7465rem + 0.2817vw, 2rem);
	--fs-4: clamp(1.625rem, 1.581rem + 0.1878vw, 1.75rem);
	--fs-5: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
	--fs-6: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
	--fs-7: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}

html {
	font-size: 16px;
}

body {
	background-color: rgb(var(--neutral-900));
	color: rgb(var(--neutral-0));
	font-family: 'DM Sans', sans-serif;
	line-height: 1.2;
}
